.login-container
/*div del Login completo*/
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.welcomeTextLogin
/*Bienvenid@*/
{
	background-color: #E4E2F9;
	color: #183153;
	text-align: center;
	margin-bottom: 25px;
}

.loginForm
/*Formulario de registro*/
{
	display: flex;
	flex-direction: column;
	align-items: center
}

.registrationLogin
/*Label+input*/
{
	display: flex;
	flex-direction: column;
}

.identifierLogin
/*label*/
{
	color:#183153;
	font-size: 16px;
}

.dataLogin
/*Casilla de registro (input)*/
{
	border-radius: 6px;
	border: 3px solid #183153;
    margin: 5px;
    background-color: #E4E2F9;
	color: #183153;
	width: 276px;
	height: 50px;
}

.loginButton
/*Boton de registro*/
{
	background-color: #183153;
	color: #E4E2F9;
	border-radius: 8px;
	width: 140px;
    height: 35px;
	margin: 20px;
	cursor: pointer;
}