.button{
    border-radius: 8px;
    background: #404040;
    width: 23rem;
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    color: white;
    font-size: 14px;
    
}

.button:hover{
    background:#BFBFBF;
}