.Button2 {
    background-color: #E4E2F9;
    border: 1px solid #191919;
    color: #191919;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
  }
  
  .Button2:hover {
    background-color: #191919;
    color: #E4E2F9;
  }