.welcomeText
/*Bienvenid@*/
{
	background-color: #E4E2F9;
	color: #183153;
	text-align: center;
	padding: 30px;
}

.registrationForm
/*Formulario de registro completo*/
{
	background-color: #E4E2F9;
	display: flex;
	flex-direction: column;
	align-items: center
}

.formGroup
/*Label+input*/
{
	display: flex;
	flex-direction: column;
}

.identifier
/*label*/
{
	color:#183153;
}
	
.registrationBox
/*Casilla de registro (input)*/
{
    border-radius: 6px;
	border: 3px solid #183153;
    margin: 5px;
    background-color: #E4E2F9;
	color: #183153;
	width: 159px;
	height: 31px;
}

.registrationButton
/*Boton de registro*/
{
	background-color: #183153;
	color: #E4E2F9;
	border-radius: 8px;
	width: 140px;
    height: 25px;
	margin: 20px;
	cursor: pointer;
}
