.welcomeText
{
	color: #183153;
	text-align: center;
	margin-top: 10px;
    margin-bottom: 30px;
}

.greetingRegistration
{
	font-size: 30px;
	font-weight: 500;
}

.textRegistration
{
	font-weight: 500;
    font-size: 13px;
}

.registrationForm
{
	background-color: #E4E2F9;
	display: flex;
	flex-direction: column;
	align-items: center
}

.formGroup
{
	display: flex;
	flex-direction: column;
}

.identifier
{
	color:#183153;
	font-size: 12px;
	font-weight: 500;
}
	
.registrationBox
{
    border-radius: 6px;
	border: 3px solid #183153;
    margin: 5px;
    background-color: #E4E2F9;
	color: #183153;
	width: 159px;
	height: 31px;
}

.registrationButton
{
	background-color: #183153;
	color: #E4E2F9;
	border-radius: 8px;
	width: 196px;
    height: 35px;
	margin: 20px;
	cursor: pointer;
}
