.navbar {
  background-color: #D5D2F6;
  width: 100%;
  min-height: 10vh;
  display: flex;
  /* justify-content: */
  align-items: center;
}

.navbarLogo{
  width: 55px;
  height: 55px;
  margin-left: 42%;
  /* margin: auto; */
}

.avatar{
  margin-right: 80%;
}
