.footer {
    background-color: #183153;
    padding: 10px;
    color: #E4E2F9;
    gap: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
  }
  
  