* {
  box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

body{
  background-color: #E4E2F9;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}